<ion-header>
  <ion-navbar>
    <ion-title>Market Insights</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Last updated </h2>
  <ion-list inset>
    <ion-item *ngFor="let rate of rates">
     <!-- <h2 "getCurrency({{rate.market_id}})"></h2>-->
     <h2>{{rate.price}}</h2>
    </ion-item>
  </ion-list>
  <ion-list inset>
      <ion-item *ngFor="let market of markets">
       <!-- <h2 "getCurrency({{rate.market_id}})"></h2>-->
       {{getMarkets()}}

        <h2>{{market.base_currency_id}}</h2>
        <h2>{{market.quoted_currency_id}}</h2>
      </ion-item>
      <script>alert(arrayName(5));</script>
    </ion-list>
  <ion-card>getMarkets()
    <ion-card-content>
        <button ion-buttn (click)="goTo('rates')">Rates</button>
      <button ion-buttn (click)="goTo('faqs')">FAQS</button>
      <button ion-buttn (click)="goTo('calculator')">Calculator</button>
      
    </ion-card-content>
  </ion-card>
</ion-content>
