<!--
  Generated template for the FaqsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>FAQS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-card-header></ion-card-header>
<ion-card-content>
    <ion-item>
        <h1>Frequently Asked Questions</h1>
        <h2>Is this data official?</h2>
        <p>
          No!
        </p>

        <p>  The market observations on this WEBSITE are from unofficial sources, mainly the streets of Harare and from other available sources such as Social Media.</p>
          
        <p>  DO NOT ASSUME THAT THE INFORMATION IS ACCURATE, CORRECT OR OFFICIAL. FOR OFFICIAL RATES, PLEASE CHECK WITH YOUR LOCAL BANK OR DIRECTLY WITH THE RESERVE BANK</p>
        <p>  OF ZIMBABWE. </p>
          
        <p>The information displayed on this website is strictly for investigating the rumored exchange rates and keeping record of such rumors for the sole purpose of </p>
        <p> studying and researching on the impact of currency speculations on the economy. </p>
          
        <p> Please note, foreign currency dealing outside official banking channels or with unauthorized individuals is illegal and may attract heavy penalties or  </p>
        <p>  imprisonment. We strongly discourage illegal forex dealing and advise all to only deal with the bank or with authorized bureau de change. </p>
        <p>What is OMIR, RTGS AND BOND? </p>
          
        <p>OMIR - Zimbabwe’s electronic money is officially valued at 1:1 against the U.S. dollar but in reality is worth much less. The 'Old Mutual Implied Rate' is  </p>
        <p> an indicative comparison of the price of shares of insurer Old Mutual in London and Harare. </p>
          
        <p>RTGS - Real Time Gross Settlement is a system used for interbank funds transfers. These transfers often require immediate and complete clearing and are usually  </p>
        <p>organized by a country’s central bank. In Zimbabwe's context, an RTGS balance refers to a person's bank account balance which is not exactly a USD balance. </p>
          
        <p>Bond - The Zimbabwe Bond Note is a surrogate currency issued by the Reserve Bank of Zimbabwe in 2016 against a loan facility from the African Export-Import Bank. </p>
        <p> Officially, the Bond Note is equivalent in value to the US Dollar, although in the market, people have placed less value on the bond. </p>
    
      </ion-item>
  <button ion-button (click)="goTo('home')">Home</button>
</ion-card-content>
</ion-content>
