<!--
  Generated template for the CalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Calculator</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card-header></ion-card-header>
  
  <button ion-button block color="danger" (click)="doCheckbox()">Show Checkbox Alert</button>

  <ion-list>

      <ion-item>
        <ion-label fixed>USD</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
  
    </ion-list>
  
    <div padding>
      <button ion-button color="primary" block>Sign In</button>
  </div>
  <ion-card-content>
      <button ion-button (click)="goTo('home')">Home</button>
    </ion-card-content>
</ion-content>
